# Selección, limpieza y alistamiento de datos

## Librerías

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Carga de datos

In [24]:
df = pd.read_csv("..\Data\Raw_data.csv", low_memory=False)

## Tarea 2: Selección, limpieza y alistamiento de datos

In [25]:
df.head()

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20181,CC,SB11201810003214,URBANO,N,B,ACADÉMICO,376001002376,376001002376,76,...,Si,Si,Si,B1,78.0,68.0,76,69,67,353
1,20181,CC,SB11201810003214,URBANO,N,B,ACADÉMICO,376001002376,376001002376,76,...,Si,Si,Si,B1,78.0,68.0,76,69,67,353
2,20181,TI,SB11201810043861,RURAL,NaN,B,ACADÉMICO,476520003791,476520003791,76,...,Si,Si,Si,A-,41.0,49.0,41,49,44,227
3,20181,TI,SB11201810043861,RURAL,NaN,B,ACADÉMICO,476520003791,476520003791,76,...,Si,Si,Si,A-,41.0,49.0,41,49,44,227
4,20181,CC,SB11201810004937,RURAL,N,OTRO,ACADÉMICO,425175032542,425175032542,25,...,Si,Si,Si,A2,59.0,57.0,48,57,55,273

In [26]:
columnas_numericas = df.select_dtypes(include=['number']).columns.tolist()
columnas_no_numericas = df.select_dtypes(exclude=['number']).columns.tolist()
print(f"Columnas no numéricas: {columnas_no_numericas}\nColumnas numéricas: {columnas_numericas}")

Columnas no numéricas: ['estu_tipodocumento', 'estu_consecutivo', 'cole_area_ubicacion', 'cole_bilingue', 'cole_calendario', 'cole_caracter', 'cole_depto_ubicacion', 'cole_genero', 'cole_jornada', 'cole_mcpio_ubicacion', 'cole_naturaleza', 'cole_nombre_establecimiento', 'cole_nombre_sede', 'cole_sede_principal', 'estu_depto_presentacion', 'estu_depto_reside', 'estu_estadoinvestigacion', 'estu_estudiante', 'estu_fechanacimiento', 'estu_genero', 'estu_mcpio_presentacion', 'estu_mcpio_reside', 'estu_nacionalidad', 'estu_pais_reside', 'estu_privado_libertad', 'fami_cuartoshogar', 'fami_educacionmadre', 'fami_educacionpadre', 'fami_estratovivienda', 'fami_personashogar', 'fami_tieneautomovil', 'fami_tienecomputador', 'fami_tieneinternet', 'fami_tienelavadora', 'desemp_ingles']
Columnas numéricas: ['periodo', 'cole_cod_dane_establecimiento', 'cole_cod_dane_sede', 'cole_cod_depto_ubicacion', 'cole_cod_mcpio_ubicacion', 'cole_codigo_icfes', 'estu_cod_depto_presentacion', 'estu_cod_mcpio_presentacion', 'estu_cod_reside_depto', 'estu_cod_reside_mcpio', 'punt_ingles', 'punt_matematicas', 'punt_sociales_ciudadanas', 'punt_c_naturales', 'punt_lectura_critica', 'punt_global']

In [27]:
# Información básica del DataFrame
print(f"El dataset tiene {df.shape[0]} filas y {df.shape[1]} columnas")
print("\nInformación del DataFrame:")
df.info()

El dataset tiene 32348 filas y 51 columnas

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32348 entries, 0 to 32347
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   periodo                        32348 non-null  int64
 1   estu_tipodocumento             32348 non-null  object
 2   estu_consecutivo               32348 non-null  object
 3   cole_area_ubicacion            32348 non-null  object
 4   cole_bilingue                  27513 non-null  object
 5   cole_calendario                32348 non-null  object
 6   cole_caracter                  31074 non-null  object
 7   cole_cod_dane_establecimiento  32348 non-null  int64
 8   cole_cod_dane_sede             32348 non-null  int64
 9   cole_cod_depto_ubicacion       32348 non-null  int64
 10  cole_cod_mcpio_ubicacion       32348 non-null  int64
 11  cole_codigo_icfes              32348 non-null  int64
 12  cole_depto_ubicacion           32348 non-null  object
 13  cole_genero                    32348 non-null  object
 14  cole_jornada                   32348 non-null  object
 15  cole_mcpio_ubicacion           32348 non-null  object
 16  cole_naturaleza                32348 non-null  object
 17  cole_nombre_establecimiento    32348 non-null  object
 18  cole_nombre_sede               32348 non-null  object
 19  cole_sede_principal            32348 non-null  object
 20  estu_cod_depto_presentacion    32211 non-null  float64
 21  estu_cod_mcpio_presentacion    32346 non-null  float64
 22  estu_cod_reside_depto          32332 non-null  float64
 23  estu_cod_reside_mcpio          32332 non-null  float64
 24  estu_depto_presentacion        32348 non-null  object
 25  estu_depto_reside              32332 non-null  object
 26  estu_estadoinvestigacion       32348 non-null  object
 27  estu_estudiante                32348 non-null  object
 28  estu_fechanacimiento           32348 non-null  object
 29  estu_genero                    32348 non-null  object
 30  estu_mcpio_presentacion        32348 non-null  object
 31  estu_mcpio_reside              32332 non-null  object
 32  estu_nacionalidad              32348 non-null  object
 33  estu_pais_reside               32348 non-null  object
 34  estu_privado_libertad          32348 non-null  object
 35  fami_cuartoshogar              31534 non-null  object
 36  fami_educacionmadre            30605 non-null  object
 37  fami_educacionpadre            30594 non-null  object
 38  fami_estratovivienda           30508 non-null  object
 39  fami_personashogar             31342 non-null  object
 40  fami_tieneautomovil            31468 non-null  object
 41  fami_tienecomputador           31558 non-null  object
 42  fami_tieneinternet             30605 non-null  object
 43  fami_tienelavadora             31581 non-null  object
 44  desemp_ingles                  32345 non-null  object
 45  punt_ingles                    32211 non-null  float64
 46  punt_matematicas               32346 non-null  float64
 47  punt_sociales_ciudadanas       32348 non-null  int64
 48  punt_c_naturales               32348 non-null  int64
 49  punt_lectura_critica           32348 non-null  int64
 50  punt_global                    32348 non-null  int64
dtypes: float64(6), int64(10), object(35)
memory usage: 12.6+ MB

### Nulos

In [28]:
nulos_por_columna = df.isnull().sum()
print("Valores nulos por columna:")
print(nulos_por_columna)

Valores nulos por columna:
periodo                             0
estu_tipodocumento                  0
estu_consecutivo                    0
cole_area_ubicacion                 0
cole_bilingue                    4835
cole_calendario                     0
cole_caracter                    1274
cole_cod_dane_establecimiento       0
cole_cod_dane_sede                  0
cole_cod_depto_ubicacion            0
cole_cod_mcpio_ubicacion            0
cole_codigo_icfes                   0
cole_depto_ubicacion                0
cole_genero                         0
cole_jornada                        0
cole_mcpio_ubicacion                0
cole_naturaleza                     0
cole_nombre_establecimiento         0
cole_nombre_sede                    0
cole_sede_principal                 0
estu_cod_depto_presentacion       137
estu_cod_mcpio_presentacion         2
estu_cod_reside_depto              16
estu_cod_reside_mcpio              16
estu_depto_presentacion             0
estu_depto_reside                  16
estu_estadoinvestigacion            0
estu_estudiante                     0
estu_fechanacimiento                0
estu_genero                         0
estu_mcpio_presentacion             0
estu_mcpio_reside                  16
estu_nacionalidad                   0
estu_pais_reside                    0
estu_privado_libertad               0
fami_cuartoshogar                 814
fami_educacionmadre              1743
fami_educacionpadre              1754
fami_estratovivienda             1840
fami_personashogar               1006
fami_tieneautomovil               880
fami_tienecomputador              790
fami_tieneinternet               1743
fami_tienelavadora                767
desemp_ingles                       3
punt_ingles                       137
punt_matematicas                    2
punt_sociales_ciudadanas            0
punt_c_naturales                    0
punt_lectura_critica                0
punt_global                         0
dtype: int64

In [29]:
# Porcentaje de valores faltantes por columna
missing_values = df.isnull().mean() * 100
missing_values = missing_values[missing_values > 0].sort_values(ascending=False)

print("\nPorcentaje de valores faltantes por columna:")
print(missing_values)

Porcentaje de valores faltantes por columna:
cole_bilingue                  14.946828
fami_estratovivienda            5.688141
fami_educacionpadre             5.422283
fami_educacionmadre             5.388277
fami_tieneinternet              5.388277
cole_caracter                   3.938420
fami_personashogar              3.109930
fami_tieneautomovil             2.720415
fami_cuartoshogar               2.516384
fami_tienecomputador            2.442191
fami_tienelavadora              2.371089
estu_cod_depto_presentacion     0.423519
punt_ingles                     0.423519
estu_cod_reside_depto           0.049462
estu_depto_reside               0.049462
estu_mcpio_reside               0.049462
estu_cod_reside_mcpio           0.049462
desemp_ingles                   0.009274
estu_cod_mcpio_presentacion     0.006183
punt_matematicas                0.006183
dtype: float64

## Tarea 3: Exploración de datos

In [30]:
# Estadísticas descriptivas para columnas numéricas
print("\nEstadísticas descriptivas para variables numéricas:")
print(df[columnas_numericas].describe())

Estadísticas descriptivas para variables numéricas:
       periodo  cole_cod_dane_establecimiento  cole_cod_dane_sede  \
count  32348.0                   3.234800e+04        3.234800e+04
mean   20181.0                   3.491787e+11        3.492569e+11
std        0.0                   5.036373e+10        5.070215e+10
min    20181.0                   1.050010e+11        1.050010e+11
25%    20181.0                   3.117690e+11        3.117690e+11
50%    20181.0                   3.686790e+11        3.686790e+11
75%    20181.0                   3.760010e+11        3.760010e+11
max    20181.0                   5.190010e+11        6.252690e+11

       cole_cod_depto_ubicacion  cole_cod_mcpio_ubicacion  cole_codigo_icfes  \
count              32348.000000              32348.000000       32348.000000
mean                  44.853314              44959.804965      109596.883208
std                   30.735132              30732.884547      151221.414608
min                    5.000000               5001.000000         182.000000
25%                   11.000000              11001.000000       19513.000000
50%                   52.000000              52001.000000       70086.000000
75%                   76.000000              76001.000000      126409.000000
max                   95.000000              95001.000000      714659.000000

       estu_cod_depto_presentacion  estu_cod_mcpio_presentacion  \
count                 32211.000000                 32346.000000
mean                     44.091087                 43970.756539
std                      31.161172                 31234.473783
min                       5.000000                    76.000000
25%                      11.000000                 11001.000000
50%                      52.000000                 52001.000000
75%                      76.000000                 76001.000000
max                      95.000000                 95001.000000

       estu_cod_reside_depto  estu_cod_reside_mcpio   punt_ingles  \
count           32332.000000           32332.000000  32211.000000
mean              364.494989           44143.983948     64.975816
std              4929.301030           31151.850364     17.184587
min                 5.000000              76.000000      0.000000
25%                11.000000           11001.000000     52.000000
50%                52.000000           52001.000000     67.000000
75%                76.000000           76001.000000     80.000000
max             99999.000000           99999.000000    100.000000

       punt_matematicas  punt_sociales_ciudadanas  punt_c_naturales  \
count      32346.000000              32348.000000      32348.000000
mean          59.565078                 58.523340         58.970385
std           14.124508                 12.981267         12.591645
min            0.000000                 20.000000         25.000000
25%           50.000000                 49.000000         50.000000
50%           61.000000                 60.000000         61.000000
75%           70.000000                 68.000000         68.000000
max          100.000000                100.000000        100.000000

       punt_lectura_critica   punt_global
count          32348.000000  32348.000000
mean              61.157197    299.121399
std               10.809107     61.879545
min                0.000000     31.000000
25%               54.000000    256.000000
50%               62.000000    308.000000
75%               69.000000    347.000000
max              100.000000    475.000000

In [31]:
# Estadísticas descriptivas para columnas categóricas
print("\nEstadísticas descriptivas para variables categóricas:")
print(df[columnas_no_numericas].describe(include='object'))

Estadísticas descriptivas para variables categóricas:
       estu_tipodocumento  estu_consecutivo cole_area_ubicacion cole_bilingue  \
count               32348             32348               32348         27513
unique                  8             19798                   2             2
top                    TI  SB11201810021630              URBANO             N
freq                24947                 3               28241         20318

       cole_calendario cole_caracter cole_depto_ubicacion cole_genero  \
count            32348         31074                32348       32348
unique               3             4                   29           3
top                  B     ACADÉMICO                VALLE       MIXTO
freq             25829         25007                14167       29084

       cole_jornada cole_mcpio_ubicacion  ... fami_cuartoshogar  \
count         32348                32348  ...             31534
unique            6                  134  ...                 8
top        COMPLETA                 CALI  ...              Tres
freq          17355                11063  ...             14215

                   fami_educacionmadre             fami_educacionpadre  \
count                            30605                           30594
unique                              19                              13
top     Educación profesional completa  Educación profesional completa
freq                             10824                            9422

       fami_estratovivienda fami_personashogar fami_tieneautomovil  \
count                 30508              31342               31468
unique                   17                 14                   8
top               Estrato 3              3 a 4                  Si
freq                   7600              19037               21639

       fami_tienecomputador fami_tieneinternet fami_tienelavadora  \
count                 31558              30605              31581
unique                    3                  2                  2
top                      Si                 Si                 Si
freq                  28360              28153              29259

       desemp_ingles
count          32345
unique             7
top               B+
freq            9202

[4 rows x 35 columns]